.env
.env.local
.env.*.local

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.out
*.coverprofile
coverage.out

# Test binary, built with `go test -c`
*.test

# Go workspace / local build artifacts
bin/
dist/

# GoLand
.idea/

# VS Code
.vscode/

# macos
.DS_Store

# Logs
*.log
